.superStore{
  text-align: center;
  background-color: lightblue;
}
img{
  width: 100px;
}
.eachgood{
  width: 400px;
  background-color: blueviolet;
  margin: 1rem auto;
}
.cart, .cart-each, .cart-amount{
  width: 800px;
  margin: auto;
}
.cart-each{
  display: flex;
  direction: row;
  justify-content: space-between;
  border: 1px solid black;
  padding: 2rem 4rem;
  border-radius: 1rem;
}
.cart-amount{
  margin-top: 2rem;
  text-align: right;
}
.cart-title{
  width: 400px;
}
ul {
  display: inline;
  list-style: none;
  margin: auto;
  padding: 0;
  margin-left: 2rem;
}
li {
  display: inline-block;
  width: 50px;
}
nav{
  display: flex;
  border-bottom: 1px solid black;
  height: 3rem;
}
.logo{
  width: 50px;
}
.cart-price{
  justify-content: space-between;
  width: 140px;
  display: flex;
  direction: row;
}